*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.divmenu{
    background-repeat: no-repeat ;
    background-position: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-size: 436px;
    margin-right: 1rem;
    margin-top: 50px;
    }
    .rutina{
        border: black solid 4px;
        background-image: url(../imagenes/fondo\ menu.svg);
    }
    .nutricion{
        border: black solid 4px;
        background-image: url(../imagenes/fondo\ menu.svg);
    }
    .ejersicio{
        border: black solid 4px;
        background-image: url(../imagenes/fondo\ menu.svg);
    }
    .contacto{
        border: black solid 4px;
        background-image: url(../imagenes/fondo\ menu.svg);
    }
body{
    background-image: url(../imagenes/backnutri.png);
    background-repeat: no-repeat;
    background-size: 250%;
}


.menu{
    list-style-type: none;
    position: right ;
}
.menu li{
    display: inline-block;
    text-align: center;
    position: right;
}
.menu li a{
    text-decoration: none;
    display: inline-block;
    position:right;
}
.menu li a:hover{
    color: rgb(255, 251, 0);
    border-radius: 50%;
    background-color: rgb(85, 85, 255);
}
h1{
margin-left: 30px;
}
p{
    width: 800px;
    font-family: 'Abril Fatface', 
   
}
h1{
    font-family: 'Cinzel Decorative', cursive;
}
.div1{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
iframe{
    margin-left: 60px;
}
h2{
    margin-left: 15px;
    margin-top: 100px;
}
.div2{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.macros{
    width: 500px;
}
.carbs{
    width: 500px;
}
.grasas{
    width: 500px;
}
.prote{
    width: 500px;
}
.fotos{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
}
.fmacros{
    display: flex;
    flex-direction: column;

}
.pmac{
    width: 300px;
}
